.no-display,
.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap
}

.no-display.focusable:active,
.no-display.focusable:focus,
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
	clip: auto;
	-webkit-clip-path: none;
	clip-path: none;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
	white-space: inherit
}

html {
	background: #EEF1F8;
}

body {
  max-width: 800px;
  background: white;
  margin: 2em auto;
  padding: 2em 5em;
  border: 1px #D1D3DE;
  font-family: "Source Sans Pro", Arial, sans-serif;
  color: #26353f;
  line-height: 1.5;
	font-size: 16px;
	font-size: 1rem;
	text-decoration-skip-ink: none;
}

.marianne {
    max-height: 150px;
}

[tabindex]:not([tabindex="-1"]),
a,
button,
input,
select,
submit,
textarea {
	outline: 2px solid transparent;
	outline-offset: 5px;
	transition: outline-offset .2s linear
}

[tabindex]:not([tabindex="-1"]):focus,
a:focus,
button:focus,
input:focus,
select:focus,
submit:focus,
textarea:focus {
	outline-color: currentColor;
	outline-offset: 2px
}

h1, h2, h3, h4, header {
  font-family: "Evolventa", "Trebuchet MS", sans-serif;	
  color: #0053b3;
}

nav {
	margin-top: 1em;
}

nav ul {
	margin: 0 0 2em;
	font-size: .8em;
	padding-left: 0px;
}
nav li {
	list-style-type: none;
}
nav li a {
	color:   #53657d  ;
}
nav li:before {
	content: "→ "; 
}

a {
	color: #0053b3;
}
a:visited {
	color:   #003b80;
}
a.stealthy-link {
	text-decoration: none
}

a.stealthy-link:focus,
a.stealthy-link:hover,
a.stealthy-link:visited {
	color: inherit
}

.button, button {
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	padding: 8px 12px;
	border: 2px solid #005a6a;
	border-top-color: rgb(0, 90, 106);
	border-right-color: rgb(0, 90, 106);
	border-bottom-color: rgb(0, 90, 106);
	border-left-color: rgb(0, 90, 106);
	font-size: 13px;
	font-size: .8125rem;
	line-height: 1.4;
	color: #fff;
	background-color: #005a6a;
	text-decoration: none;
	font-weight: 700;
    color: #fff;
    background-color: #0053b3;
    border-radius: 3px;
    border: 0;
    font-family: "Source Sans Pro", Arial, sans-serif;
	font-size: 0.825em;
	padding: 0.25em 1em;
   }

.button:visited, button:visited {
	color: white;
}

.button.button-small, button.button-small {
    padding: 2px 4px;
}
.button:disabled, button:disabled {
    opacity: .75;
    text-decoration: line-through;
}

.showhidebutton {
	background: transparent;
	color:  #53657d ;
	border-color: transparent;
	font-weight: 400;
	font-weight: 400;
	font-size: .8125rem;
}

.showhidebutton:after {
	display: inline-block;
	background-color: #006be6;
	color: #fff;
	content: "–";
	font-weight: 700;
	margin-left: .5em;
	padding: .3em;
	border-radius: 3px;
	width: 1em;
	height: 1em;
	line-height: 1em
}

.showhidebutton:focus:after,
.showhidebutton:hover:after {
	color: #036;
	background-color: #fff!important
}

.showhidebutton[aria-expanded=false]:after {
	content: "+"
}

[class*=" icon-"], [class^="icon-"] {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}

aside {
    background-color: #ebeff3;
    border-left: 8px solid #c9d3df;
    padding: 4px 25px;
    margin: 20px 0;
}

aside.warning {
    background-color: #fff0e4;
    border-left: 8px solid #ff9947;
}

aside.box {
	font-size: .8em;
}
aside.box header {
	padding: 1em 0 0;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 1em;
	color: #003b80 ;
}
aside p {
	margin-top: 0;
	color:   #53657d;
}

a.button-backtotop {
	position: fixed;
	cursor: pointer;
	bottom: 16px;
	right: 16px;
	opacity: .85;
	border-radius: 100px;
	background-color:  #03bd5b ;
	border-color:  #03bd5b ;
	color: white;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
	opacity: 0;
	transition: opacity .5s linear;
	font-weight: normal;
}

.button-backtotop.active,
.button-backtotop:focus {
	opacity: 1
}

.button-backtotop svg {
	vertical-align: -1px
}

.button-backtotop.inline {
	position: static;
	float: right
}


summary::-webkit-details-marker{display:none}
summary::marker{
	color: white;
}


details[open] > summary > :first-child::before {
    content: "–";
}
summary {
    cursor: pointer;
}
summary > :first-child::before {
    content: "+";
    margin-right: 8px;
    margin-right: .5rem;
    display: inline-block;
    border-radius: 5px;
    width: 20.8px;
    width: 1.3rem;
    height: 20.8px;
    height: 1.3rem;
    line-height: .9;
    background: #fff;
    color:  #006be6 ;
    border: 2px solid  #006be6 ;
    text-align: center;
    font-weight: 700;
}

details h2 {
	margin-bottom: .5em;
}

details h3 {
	margin: 1.5em 0 .5em;
	font-weight: normal;
}
.intro {
	font-size: .825em;
	color:  #53657d ;
}

.group > .field {
    margin-bottom: 8px;
    margin-bottom: .5rem;
    margin-left: 32px;
    margin-left: 2rem;
}
.field {
    padding: 4px;
    margin: 0 0 32px;
    margin: 0 0 2rem;
        margin-bottom: 2rem;
        margin-left: 0px;
}
.field em {
	font-style: italic;
	font-size: .925em;
}

#accstatement form .information
{
  font-size: .8rem;
  padding: 1px 15px;
  background-color:  #ebeff3 ;
  border: solid 1px  #c9d3df ;
  margin-bottom: 1em;
  border-radius: 5px;
  margin-left: 2rem;
}



/*input, textarea, select {
    width: 100%;
    outline: none;
    padding: 0.5em 0.875em;
    font: inherit;
    line-height: inherit;
    line-height: 1.6;
    color: #1c1c1c;
    color: var(--black);
    border-radius: 3px;
    border: 1px solid #adb9c9;
    background: #fff;
    vertical-align: middle;
    position: relative;
}

input[type="radio"] {
    height: 1.25em;
    width: 1.25em;
    border-radius: 50%;
    display: inline-block;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0;
}
input[type="radio"], input[type="checkbox"] {
    margin: 0;
    margin-right: 0.5em;
}
input[type="radio"]:checked {
    background-color: #fff;
    border-color: #0053b3;
    opacity: 1;
}*/

.field input:not([type="checkbox"]):not([type="radio"]), .field textarea {
    display: block;
    box-sizing: border-box;
    width: 100%;
    padding: 8px;
}
input:not([type="checkbox"]):not([type="radio"]), textarea {
    border: 1px solid #adb9c9;
    border-radius: 3px;
}
input, select, textarea {
    font-size: 1em;
    font-family: inherit;
}
[tabindex]:not([tabindex="-1"]), a, button, input, select, submit, textarea {
    outline: 2px solid transparent;
    outline-offset: 5px;
    transition: outline-offset .2s linear;
}
input:focus, textarea:focus, select:focus {
    border-color: #006be6;
    -webkit-transition: border-color 0.2s ease-out;
    transition: border-color 0.2s ease-out;
}


fieldset {
	margin: 0 0 32px;
	margin: 0 0 2rem;
	padding: 0;
	border: none;
}

legend {
    font-size: .9em;
    font-weight: bold;
}
.nolist,
.nolist li {
	margin: 0;
	padding: 0
}

.nolist li {
	list-style: none
}
.expl {
    padding: 0;
    margin: 0 0 1em;
}

aside.box.actions {
	background: none;
	border: none;
	padding: 0;
}
.statement-actions {
	margin: 3em 0;	
}

.actions .button {
	font-size: 1.2em;
	background-color:  #03bd5b ;
	padding: .5em 1em;
}
.actions .button:visited {
	color: white;
}

footer {
	font-style: italic;
	color:  #53657d ;
	font-size: .825em;
	border-top: 1px solid #ebeff3;
}