#accstatement form .information
{
  font-size: .8rem;
  padding: 1px 15px;
  background-color:  #ebeff3 ;
  border: solid 1px  #c9d3df ;
  margin-bottom: 1em;
  border-radius: 5px;
  margin-left: 2rem;
}

#accstatement form .information a
{
  font-weight: bold;
}

#accstatement form .field label,
#accstatement form .field .label
{
  font-size: 1rem;
  font-weight: normal;
}

#accstatement form .radio-field input[type="text"]
{
  box-sizing: content-box;
  flex-grow: 1;
  flex-shrink: 1;
  margin-left: 0.5em;
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}

#accstatement form .radio-field label {
  display: inline-block;
}

/* Preview */
#accstatement .print-textarea
{
  margin-top: 0;
  margin-left: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

#accstatement #accstmnt_standard_other_name
{
  display: none;
}

#accstatement #accstmnt_standard_other:checked + label
{
  flex-basis: auto;
  width: auto;
}

#accstatement #accstmnt_standard_other:checked ~ #accstmnt_standard_other_name
{
  display: block;
  flex-basis: auto;
  width: 100%;
}

#accstatement #accstmnt_issues > fieldset > legend
{
  font-size: 1rem;
}

#accstatement .proto
{
  display: none;
}

#accstatement .group button.add-line
{
  margin-left: 36px;
}
